<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="project-details">
    <template>
        <style is="custom-style">
            paper-card {
                width: 100%;
                margin: 10px 0;
            }
            .description {
                height: 67%;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-bottom: 10px;
                border-top: 1px #dddddd solid;
            }
            .title {
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
                text-shadow: 0px 1px green;
                font-size: 25px;
                color: limegreen;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
             .subtitle paper-button {
                border: 1px solid transparent;
                padding: 0;
                color: black;
                font-family: 'Open Sans', sans-serif;
                font-weight: lighter;
            }
            .subtitle paper-button:hover {
                border: 1px solid limegreen;
            }
            .support-button {
                color: limegreen;
            }
            #dialog {
                width: 30%;
            }
            #more-info {
                padding-top: 3px;
                font-family: 'Open Sans', cursive;
                font-weight: bold;
                color: gray;
            }
            #more-info span {
                color: black;
            }
            p {
                white-space: pre-wrap;
                font-family: 'Open Sans', sans-serif;
            }

            paper-dialog {
                width: 100px;
            }

            paper-slider {
                --paper-slider-knob-color: var(--paper-green-500);
                --paper-slider-active-color: var(--paper-green-500);
                --paper-slider-pin-color: var(--paper-green-500);
            }
        </style>
        <iron-ajax
            id="user"
            url="https://kickstarter-dev.appspot.com/user"
            handle-as="json"
            on-response="updateMoney"
            last-response="{{user}}">
        </iron-ajax>
        <iron-ajax
                id="details-ajax"
                url="https://kickstarter-dev.appspot.com/projects"
                handle-as="json"
                on-response="handleResponse"
                last-response="{{project}}">
        </iron-ajax>
        <paper-dialog id="dialog" modal>
            <h2>Support project</h2>
            <div>
                <div id="slider-label">0</div><br>
                <paper-slider pin min="0" max="{{ovc}}" value="0" immediateValue="{{donated-money}}"></paper-slider>
                <script>
                    document.querySelector('paper-slider').addEventListener('value-change', function(e) {
                        document.querySelector('#slider-label').textContent = this.value;
                    });
                </script>
            </div>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm autofocus id="add-button">Donate</paper-button>
            </div>
        </paper-dialog>
        <iron-ajax
                id="transactionAjax"
                url="https://kickstarter-dev.appspot.com/transaction"
                method="POST"
                on-response="handleResponse"
                handle-as="json">
        </iron-ajax>
        <paper-card>
            <div class="card-content title-bar">
                <div class="title"><span class="{{project.name}}">{{project.name}}</span></div>
                <div id="more-info">
                    <div class="datetime"><span>{{project.date}}</span> <span>{{project.time}}</span></div>
                    <div class="dotation"><span>{{project.money}}</span> OVC collected</div>
                    <div class="subtitle">by<paper-button>{{project.creatorname}}</paper-button></div>
                    <div class="support-button" on-click="onSupportClick"><paper-button>Support</paper-button></div>
                </div>
            </div>
            <div class="card-content description">
                <p>{{project.description}}</p>
            </div>
        </paper-card>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'project-details',
        properties: {
            userId: {
                type: Number,
                value: 0
            },
            ovc: Number
        },
        listeners: {
            'add-button.tap': 'donate'
        },
        donate: function(e) {
            var donation = document.querySelector('paper-slider').value;
            this.$.transactionAjax.params = {
                "projectId": this.project.id,
                "userId": this.userId,
                "money": donation
            };
            this.$.transactionAjax.generateRequest();
            setTimeout(this.getUserUpdate(), 1000);
        },
        onSupportClick: function(e) {
            this.querySelector('#dialog').toggle();
        },
        handleResponse: function(request) {
            document.querySelector("#app").route='project';
        },
        getUserUpdate: function() {
            this.$.user.generateRequest();
        },
        updateMoney: function(request) {
            this.ovc = this.user.money;
            console.log(this.user.money + " pieniazki usera. " + this.ovc);
        }
    });
</script>