<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">
<link rel="import" href="../bower_components/iron-page-url/iron-page-url.html">


<dom-module id="user-bar">
    <template>
        <style>
            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: limegreen;
                padding: 0 20px;
            }
            .paper-button {
                padding: 20px 6px;
            }

            #dialog {
                width: 70%;
            }
            #logo {
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
                text-shadow: 0px 1px darkgray;
                font-size: 36px;
                color: #CCFFCC;
                display: inline;
            }
            #bread {
                font-family: 'Open Sans', sans-serif;
                font-weight: lighter;
                font-size: 18px;
                color: white;
            }
        </style>
        <iron-ajax
                id="ajax"
                url="https://kickstarter-dev.appspot.com/projects"
                method="POST"
                on-response="handleResponse"
                handle-as="json">
        </iron-ajax>
        <iron-page-url path="{{path}}"></iron-page-url>
        <div class="header">
            <div><div id="logo">Kickstarter</div><span id="bread">{{path}}</span></div>
            <div id="user-info">
                <span>{{login}}</span>
                <span>(<span>{{ovc}}</span> OVC)</span>
                <paper-button id="form-button">New Project</paper-button>
                <paper-button id="logout">Logout</paper-button>
            </div>
        </div>
        <paper-dialog id="dialog" modal>
            <h2>Create new project</h2>
            <div>
                <paper-input label="Project name" char-counter maxlength="256" bind-value="{{name}}"></paper-input>
                <paper-textarea label="Description" char-counter max-rows="8" bind-value="{{desc}}"></paper-textarea>
            </div>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm autofocus id="add-button">Add</paper-button>
            </div>
        </paper-dialog>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'user-bar',
        properties: {
            name: String,
            desc: String,
            login: String,
            id: {
                type: Number,
                value: 0
            },
            path: String,
            ovc: {
                type: Number,
                value: 0,
                notify: true
            }
        },
        listeners: {
            'form-button.tap': 'showForm',
            'add-button.tap': 'addProject',
            'logo.tap': 'goHome',
            'logout.tap': 'logout'
        },
        showForm: function(e) {
            this.querySelector('#dialog').toggle();
        },
        addProject: function(e) {
            this.$.ajax.params = {
                "name": this.name,
                "desc": this.desc,
                "creatorId": this.id
            };
            this.$.ajax.generateRequest();
        },
        goHome: function(e) {
            page('/');
        },
        logout: function(e) {
            window.location.replace("/logout");
        },
        handleResponse: function(request) {
            document.querySelector("#list-ajax").generateRequest();
        }
    });
</script>