body {
    height: 100vh;
    padding: 0;
}

#no-padding {
    padding: 0;
}

#login-box {
    margin: auto;
    width: 35em;
    background-color: aquamarine;
    padding: 1em;
}

#content {
    padding: 5px 15px;
}

h1 {
    text-align: center;
}

input {
    text-align: center;
    margin: auto;
    display: block;
}

#project-column {
    margin-top: 20px;
    width: 70%;
    float: left;
}

#about-column {
    margin-top: 33px;
    width: 25%;
    float: right;
}

#loading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}